.cursor-pointer{
    cursor: pointer;
}

.py-5{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.navbar-dark.bg-dark {
    background-color: #384357 !important;
}

.bg-dark .animate:hover {
    box-shadow: 0px 0px 4px 5px #fcabab;
    cursor: pointer;
}

.bg-white .animate:hover {
    box-shadow: 0px 0px 4px 5px #9A2726;
    cursor: pointer;
}

.animate{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}